body{
    padding: 86px 90px 87px 90px;
    background-color: #121212;
    position: relative;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 60em;
    background-color: linear-gradient(113.01deg, #121212 0%, rgba(18, 18, 18, 0.86) 114.97%);
    box-shadow: -28px 4px 40px rgba(0, 0, 0, 0.25), 0px 28px 40px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 50px 20px 10px 20px;
}
.navigation{
    width: 100%;
    display: flex;
    align-items: center;
}
.navigation p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.logo{
    height: auto;
    width: 65.25px;
    padding-left: 50px;
}
.inner-left{
    margin-left: 52.3px;
    width: 752px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding-right: 80px;
}
.button{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.sign-in{
    height: 3em;
    width: 10em;
    background: #E5E5E5;
    border-radius: 40px;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bod{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
    padding-right: 50px;
}
.body-txt{
    padding-left: 120px;
}
.txt-header{
    width: 450px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    margin: 0;
}
.txt-info{
    width: 420px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.image{
    height: auto;
    width: 40%;
}
.image:hover{
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.clickers{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 43px;
}
.play{
    display: flex;
    align-items: center;
    gap: 15px;
}
.how{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 102px 50px 0px 120px;
}
.socials{
    display: flex;
    align-items: center;
    gap: 33px;
}